.wy-nav-side {
    background-color: #ffffff;
}
/* edf2f4 */
.wy-menu-vertical li.current {
    background-color: #edf2f4;
}
/* 004360 */
.wy-side-nav-search {
    background-color: #1e355e;
}

.rst-versions {
    background-color: #1e355e;
    border-top-color: #1e355e;
}

.rst-versions .rst-current-version {
    background-color: #1e355e;
}

body {
    font-family: Merriweather;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: Merriweather;
}

/* f0573f */
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a  {
    color: #f0573f;
}

.wy-nav-content a:visited {
    color: #f0573f;
}
.icon-home::before {
    vertical-align: middle;
    content:url(/img/mbari-icon.png);
}